<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>OSINT Dojo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    
<style>
hr{
  border: 2px solid black;
  border-radius: 5px;
}
</style>

    
  </head>
  <body>
    <div class="wrapper">
      <header>

          <img src="/OSINT%20DOJO.svg" alt="OSINT Dojo" />
        <br>
        <hr>
        
        <center>
          <a href="/index"><img src="/homebutton.svg" width="200" height="40" alt="Home"/></a>
          <a href="/faqs"><img src="/faqsbutton.svg" width="200" height="40" alt="FAQS"/></a>
          <a href="/ranks"><img src="/ranksbutton.svg" width="200" height="40" alt="Ranks"/></a>          
        </center>
        <br>
        
                
        <center>
          <a href="https://twitter.com/osintdojo"><img src="/twitterlogo.svg" width="40" height="40" alt="Twitter"/></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="https://badgr.com/issuers/5f8b9127b9459a4d8250190c/badges"><img src="/badgrlogo.svg" width="40" height="40" alt="Badgr"/></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          <img src="/emaillogo.svg" width="40" height="40" alt="Email" />        
        </center>
        <br>
        <hr>
        
      </header>
      <section>
      {{ content }}

      </section>

  </body>
</html>
